@charset "UTF-8";

.table {
	font-size: small;
}

.table th {
	background-color: #E0F8EB;
	vertical-align: middle;
	text-align: center;
}

.approvalLineInfo .table td, .approvalLineInfo .table th{
	text-align: center;
	width: auto;
}

.approvalLineInfo table td, .approvalLineInfo table th{
	text-align: center;
}

.approvalLineInfo table td {
	font-size: small;
	width: 100px !important;
}
.approvalLineInfo table th {
	font-size: small;
	width: 30px !important;
}

.draftInfo,
.approvalLineInfo {
	display: inline-block;
}

.draftInfo {
	float: left;
}

.approvalLineInfo {
	float: right;
}

.approvalLineInfo  tr:nth-child(3) > td {
	height: 100px;
	width: 100px;
	border-bottom-style: none;
}

.approvalLineInfo  tr:nth-child(4) > td {
	border-top-style: none;
}

#attachContainer p{
	padding: 1%;
	margin: 0;
	font-size: small;
	text-align: left;
}

#draftTable th{
	width: 20%;
}

#fileInfo {
	background-color: #E3F2FD;
}

.commentTable {
	width: 100%;
	margin: 0 auto;
}

.commentTable td {
	text-align: left;
}

.commentTable td#date {
	text-align: right;
	width: 200px;
}

.commentTable td#profile {
	width: 150px;
}

.card-header {
	background-color: #E0F8EB;
}

a {
	color: black;
}

#showListBtn {
	margin-top: 10px;
	float: right;
}

.profile_css {
	border-radius: 50%;
	background-color: #E0F8EB;
	width: 100px;
	height: 100px;
	color: white;
	font-size: 50pt;
	font-weight: bold;
	text-align: center;
}